# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# RAG Vector Store (Optional: remove if you want to share the index)
RagSystem/vector_store/
